{% extends 'base.html' %} {% block head %}
<title>Task Master API</title>
{% endblock %} {% block body %}
<div class="content text-center">
  <h1 class="my-5">Updating Task</h1>

  <form action="/update/{{ task.id }}" method="POST">
    <h5 class="my-5">Update Task ID {{ task.id }}</h5>
    <input
      class="w-25"
      type="text"
      name="content"
      id="contet"
      value="{{ task.content }}"
    />
    <button type="submit" class="ms-3 btn btn-outline-light">Update</button>
  </form>
</div>
{% endblock %}
